html, body {
    background-color: #ececec;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    margin-top: 20px;
}

.scoreText {
    font-size: 20px;
    font-weight: bold;
}

#reset {
    margin: 12px;
}

#gameResult {
    font-size: 24px;
    font-weight: bold;
}